*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* heading 1 */
.heading-1{
    height: 51px;
    background-color: rgb(89, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;

}
.text{
    color:white;
    font-size: large;
}
/* menu section */
.container{
   
    margin:10px 30px ;
    display: flex;
    align-items: center;
}
.menu1 img{
    width:170px;
    height: 35px;
}
.menu2{
    display: flex;
    width:60%;
    justify-content: space-evenly;
    align-items: center;
}
.menu2 p{
    font-size: 1rem;
    font-weight: 200;
}
.menu3{
    display: flex;
    width:20%;
    justify-content: space-evenly;
    align-items: center;
}
.menu3 .btn1{
    padding:6px 12px;
    border:1px solid rgb(60, 137, 160);
    border-radius: 4px;
    font-size: medium;
    font-weight: 600;

}
.menu3 .btn2{

    padding:6px 12px;
    margin:0px 0px 0px 10px;
    border:1px solid rgb(60, 137, 160);
    background-color: rgb(169, 168, 201);
    border-radius: 4px;
    font-size: medium;
    font-weight: 600;

}
/* banner */
.banner{
    margin:10px 30px ;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 40px;
    height: 100vh;
    
   
}
.banner-left{
    width: 50%;
}
.banner-left h1{
   
    margin-bottom: 10px;
}
.banner-left p{
    font-size: medium;
    font-style: normal;
    margin-bottom: 20px;
}
.banner-left .btn3{
    padding:6px 12px;
    /* margin:0px 0px 0px 10px; */
    border:1px solid rgb(60, 137, 160);
    background-color: rgb(169, 168, 201);
    border-radius: 4px;
    font-size: medium;
    font-weight: 600;

}
.banner-right{
    width: 50%;
}
.banner-right img{
  width:450px;
  height: 250px;
}
/* text-2 */
.text-2 p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
/* top companies */
.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.companies img{
    width: 95px;
    height: 45px;
}
/* text-3 */
.text-3 p{
    font-size: large;
    font-weight: bolder;
    color:rgb(37, 30, 30);
    text-shadow: 2px 2px 3px rgb(139, 88, 97);
    text-align: center;
    margin-bottom: 30px;
}
.text-3 button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
   justify-content: center;
   align-items: center
}
.button-container button{
    padding: 12px 24px;
    background-color: gray; 
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* card section */
.card-items{
    margin:10px 30px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
    width:290px;
    height: 240px;
    box-shadow: 3px 7px 10px rgb(111, 128, 111);
}
.card p{
    text-align: center;
}
.card img{
    margin-bottom: 10px;
}
.card p{
    font-size: 20px;
    margin-bottom: 10px;
}
.card button{
    padding:6px 12px;
    background-color: rgb(123, 182, 179);
    font-size: 20px;
    border:none;
    border-radius: 4px;
}
